<?xml version="1.0" encoding="utf-8" ?>
<PackageConfiguration xmlns=
"http://www.siemens.com/automation/Openness/AddIn/Publisher/V16">
  <Author>TIM</Author>
  <Description>Copying DB content to textlist of first HMI found</Description>
  <AddInVersion>V0.1</AddInVersion>
  <Product>
    <Name>AddinDbToTextlist</Name>
    <Id>723456789</Id>
    <Version>0.1</Version>
  </Product>
  <FeatureAssembly>
    <AssemblyInfo>
      <Assembly>bin\Debug\AddinDbToTextlist.dll</Assembly>
      <Pdb>bin\Debug\AddinDbToTextlist.pdb</Pdb>
    </AssemblyInfo>
  </FeatureAssembly>
	<AdditionalAssemblies>
	    <AssemblyInfo>
		    <Assembly>bin\Debug\TiaHelperLibrary.dll</Assembly>
		    <Pdb>bin\Debug\TiaHelperLibrary.pdb</Pdb>
	    </AssemblyInfo>
        <AssemblyInfo>
			    <Assembly>bin\Debug\TiaXmlGenerator.dll</Assembly>
          <Pdb>bin\Debug\TiaXmlGenerator.pdb</Pdb>
		    </AssemblyInfo>
	</AdditionalAssemblies>

  <RequiredPermissions>
    <TIAPermissions>
      <TIA.ReadWrite /> 
    </TIAPermissions>
    <SecurityPermissions>
      <System.Security.Permissions.SecurityPermission.UnmanagedCode/>
      <System.Security.Permissions.FileDialogPermission/>
      <System.Security.Permissions.UIPermission/>
      <System.Security.Permissions.MediaPermission/>
      <Siemens.Engineering.AddIn.Permissions.ProcessStartPermission/>
      <System.Net.WebPermission/>
      <System.Security.Permissions.KeyContainerPermission/>
      <System.Net.SocketPermission/>
      <System.Data.Odbc.OdbcPermission/>
      <System.Security.Permissions.WebBrowserPermission/>
      <System.Net.NetworkInformation.NetworkInformationPermission/>
      <System.Security.Permissions.StorePermission/>
      <System.Configuration.ConfigurationPermission/>
      <System.Security.Permissions.FileIOPermission/>
      <System.Diagnostics.EventLogPermission/>
      <System.Drawing.Printing.PrintingPermission/>
      <System.Security.Permissions.IsolatedStorageFilePermission/>
      <System.Data.OleDb.OleDbPermission/>
      <System.Security.Permissions.RegistryPermission/>
      <System.Data.SqlClient.SqlClientPermission/>
      <System.Security.Permissions.EnvironmentPermission/>
      <System.Net.Mail.SmtpPermission/>
    </SecurityPermissions>
  </RequiredPermissions>
</PackageConfiguration>